.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246)
}

#logo {
    padding-left: 20px;
    
    
}

.header {
    height: 60px;
    width: 1000px;
    background-color: rgb(246, 246, 246)
    overflow: hidden;
}


.banner {
    top:0;
    width: 1500px;
    z-index:2000
}

.menu {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 1500px;
    background-color: black;
    align-items: center;
}
.sticky {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 1500px;
    background-color: black;
    align-items: center;
    position: fixed;
    top: 0;
}

.content {
    padding: 16px;
  }

.sticky + .content {
    padding-top: 60px;
  }

.tabs {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tab {
    height: 60px;
    width: auto;
    border: none;
    background-color: black;
    color: rgb(190, 190, 190);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 20;
    text-align: left;
    margin-left: 50px;
}

.tab:focus {
    border-style: none;
    outline: none;
    box-shadow: none;
}
.tab:hover {
    color: rgb(243, 243, 243); ;
    background-color: rgb(46, 46, 46);
}

.dropdowns {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    width: 910px;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    z-index: 2000;
}

.dropButton {
    width: 130px;
    height: 40px;
    text-align: center;
}
#a {
    display: none;
    flex-direction: column;
    z-index: 2000;
}

/* .tab:hover #a {
    display: flex;
} */

/* #aa:hover .dropdowns {
    display: flex;
}
#aa:hover #a {
    display: flex;
} */

/* 
a {
    height: 40px;
    width: 150px;
    align-items: center;
} */

.images {
    display: flex;
    justify-content: center;
    width: 1500px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.slides {
    height: 712px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    overflow: hidden;
}

.slideOn {
    display: flex;
    animation-name: opacity;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-fill-mode: forwards;  
}
.slideOff {
    display: none;
}

.slideshowButton {
    /* background-color: rgb(138, 226, 98); */
    background-color: rgb(185, 185, 185);
    border-color: rgb(165, 165, 165);
    height: 12px;
    width: 10px;
    border-radius: 50%;
    border-width: 0px;
    transform: translate(0px, -50px);
    cursor: pointer;
}
.slideshowButtonOn {
    /* background-color: rgb(138, 226, 98); */
    background-color: rgb(255, 255, 255);
    border-color: rgb(165, 165, 165);
    height: 12px;
    width: 10px;
    border-radius: 50%;
    border-width: 0px;
    transform: translate(0px, -50px);
    cursor: pointer;
}
.slideshowButton:focus {
    border-style: none;
    outline: none;
    box-shadow: none;
}
.slideshowButtonOn:focus {
    border-style: none;
    outline: none;
    box-shadow: none;
}

.buttonsBanner {
    width: 150px;
    align-items: center;
}

/* @keyframes buttonSlide {
    from {opacity: 0%;}
    to {opacity: 100%;}
} */

.buttons {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(246, 246, 246);
    width: 150px;
    opacity: 0%;
    animation-delay: 1s;
    animation-name: opacity;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-fill-mode: forwards;  

}

@keyframes swooshIn {
    from {left: 100%;}
    to {left: 70%;}
}
@keyframes swooshInSlow {
    from {left: 300%;}

}

@keyframes opacity {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

[aos="fade"] {
    opacity: 0;
    transition-property: opacity;
  }
  
  [aos="fade"].aos-animate {
    opacity: 1;
  }

.bannertext {
    color: rgb(243, 243, 243);
    padding-left: 20px;
    padding-right: 40px;
    background-color: black;
    font-weight: 5;
    font-size: 80px;
    font-family: 'Anton', sans-serif;
    position: absolute;
    top: 15%;
    left: 70%;
    /* transform: translate(-50%, -50%); */
    opacity: 0%;

    animation-delay: 1.5s;
    animation-name: swooshIn, opacity;
    animation-timing-function: ease;
    animation-duration: 2s, 500ms;
    animation-fill-mode: forwards;  
    

}
.bannerP {
    background-color: black;
    padding-left: 20px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(243, 243, 243);
    width: 150%;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    position: absolute;
    opacity: 0%;
    top: 100%;
    left: 0%; 
    animation-timing-function: ease;
    animation-delay: 1.5s;
    animation-name: swooshInSlow, opacity;
    animation-duration: 2s, 500ms;
    animation-fill-mode: forwards;  
    

    
}





.content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 1500px;
    background-color: rgb(246, 246, 246)

}
.rowHead {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 20;
    /* color: rgb(118,185,0); */
    color: rgb(112, 119, 240);
}

.row {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    width: 1300px;
    /* margin: 5px; */
    
    /* float: left; */
    /* width: 180px; */
}

.tile {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 270px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    /* margin-left: 20px; */
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.tile h4 {
    margin-top: 15px;
    margin-bottom: 2px;
    padding-left: 20px;
    /* color: rgb(118,185,0); */
    color: rgb(112, 119, 240);
    font-weight: 25;
    font-size: 20px;
    /* font-family: 'Abel', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
.tile p {
    margin-top: 5px;
    padding-top: 2px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
}

/* .images {
    display: flexbox;
} */

/* .slideOn {
    margin-right: auto;
    margin-left: auto;
} */