.main {
    /* display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246)
}

#logo {
    padding-left: 20px;
    
    
}

.header {
    height: 60px;
    width: 1000px;
    background-color: rgb(246, 246, 246)
    /* align-self: flex-start; */
    /* margin-left: 500px; */
    
    /* margin-right: 300px; */
    overflow: hidden;
    
}





.banner {
    /* position: fixed; */
    top:0;
    width: 1500px;
    z-index:2000
}
.menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 1500px;
    background-color: black;
    align-items: center;
}
.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tab {
    border: none;
    font-size: 18px;
    background-color: black;
    
    color: rgb(190, 190, 190);
    height: 60px;
    width: 130px;
    font-family: 'Roboto', sans-serif;
}

.dropdowns {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    width: 910px;
    /* align-content: ; */
}

.dropdown-content {
    display: none;
    flex-direction: column;
    z-index: 2000;
}

.dropButton {
    width: 130px;
    height: 40px;
    text-align: center;
}
#a {
    display: none;
    flex-direction: column;
    z-index: 2000;
}
/* .tab:hover #a {
    display: flex;
} */

/* #aa:hover .dropdowns {
    display: flex;
}
#aa:hover #a {
    display: flex;
} */

/* 
a {
    height: 40px;
    width: 150px;
    align-items: center;
} */








.images {
    display: flex;
    justify-content: center;
    width: 1500px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.slides {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 100px; */
    background-color: rgb(246, 246, 246)
}

.slideOn {
    display: flex;
}
.slideOff {
    display: none;
}

.slideshowButton {
    /* background-color: rgb(138, 226, 98); */
    background-color: rgb(185, 185, 185);
    border-color: rgb(165, 165, 165);
    height: 12px;
    width: 10px;
    border-radius: 50%;
    border-width: 0px;
    transform: translate(0px, -50px);
}
.slideshowButtonOn {
    /* background-color: rgb(138, 226, 98); */
    background-color: rgb(255, 255, 255);
    border-color: rgb(165, 165, 165);
    height: 12px;
    width: 10px;
    border-radius: 50%;
    border-width: 0px;
    transform: translate(0px, -50px);
}
.slideshowButton:focus {
    border-style: none;
    outline: none;
    box-shadow: none;
}
.slideshowButtonOn:focus {
    border-style: none;
    outline: none;
    box-shadow: none;
}

.buttonsBanner {
    
    width: 150px;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(246, 246, 246);
    width: 150px;
}

.content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 1500px;
    background-color: rgb(246, 246, 246)

}
.rowHead {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 20;
    /* color: rgb(118,185,0); */
    color: rgb(112, 119, 240);
}

.row {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    width: 1300px;
    /* margin: 5px; */
    
    /* float: left; */
    /* width: 180px; */
}

.tile {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 270px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    /* margin-left: 20px; */
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.tile h4 {
    margin-top: 15px;
    margin-bottom: 2px;
    padding-left: 20px;
    /* color: rgb(118,185,0); */
    color: rgb(112, 119, 240);
    font-weight: 25;
    font-size: 20px;
    /* font-family: 'Abel', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
.tile p {
    margin-top: 5px;
    padding-top: 2px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
}

/* .images {
    display: flexbox;
} */

/* .slideOn {
    margin-right: auto;
    margin-left: auto;
} */